.input-panel {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(143, 143, 97);
  padding: 40px 0;
}
.input-panel__keyword, .input-panel__location {
  width: 21rem;
  padding: .66rem 1rem;
}

.input-panel__sort-options {
  padding: 0;
  display: flex;
  width: 352px;
  justify-content: space-between;
}

.input-panel__submit {
  display: none;
}
.input-panel__button {
  display: block;
  padding: 10px 30px;
  background-color: rgb(165, 189, 32);
  color: rgb(143, 143, 97);
  font-family: inherit;
  font-size: 0.88rem;
  line-height: 1rem;
  margin-top: 10px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
}
.input-panel__button:hover {
  background-color: #3e8e41;
  color: white;
  transition: 0.3s;
}
li {
  list-style-type: none;
  color: rgb(199, 206, 199);
  transition: color .25s;
}
li:hover {
  color: rgba(45, 211, 39, 0.5);
}

li.is_active {
  color:  rgba(45, 211, 39, 1);
}
